<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Modal de Login -->
<div id="loginModal" th:fragment="login-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <h1>Inicie Sesión en MetaMapa</h1>
            <p>Sistema de Gestión de Mapeos</p>
        </div>

        <form id="loginForm">
            <input type="text" name="username" placeholder="Ingrese su correo electrónico" required>
            <input type="password" name="password" placeholder="Ingrese su contraseña" required>
            <button type="submit" class="next-btn">Iniciar Sesión</button>

            <!-- Registrarse -->
            <div class="login-link-container" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <a th:href="@{/registro}" class="login-link">¿No tienes una cuenta?</a>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>